<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/app.css" />
    <title>{{pageTitle}}</title>
</head>
<body>
    {{>header}}
    <div id="divMembers"></div>
</body>
</html>

<script type="text/javascript">

    const divMembers = document.querySelector("#divMembers");
    const pLoading = document.createElement("p");
    pLoading.innerText = "Fetching members...";
    divMembers.appendChild(pLoading);
    fetch("api/members")
        .then(response => response.json()
        .then(members => { 
            divMembers.removeChild(pLoading);
            members.forEach(member => {
                const pMember = document.createElement("p");
                const aMember = document.createElement("a");
                aMember.href = `/member/${member.id}`;
                aMember.innerText = member.name;
                pMember.appendChild(aMember); 
                divMembers.appendChild(pMember);
            });
        }));
    
</script>